.contacts {
  padding-top: 80px;
}

.contacts__title {
  margin: 0;
  padding: 0;
  font-size: 38px;
  line-height: 38px;
  margin-bottom: 50px;
}

.contacts__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}

.contacts__photo {
  width: 500px;
  height: 600px;

  img {
    object-fit: cover;
    width: 500px;
    height: 600px;
  }
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
  min-width: 225px;
}

.contacts__link {
  line-height: 23px;
  display: flex;
  justify-content:flex-start;
  gap: 15px;
  align-items: center;
  height: 100%;
  width: 100%;

  svg {
    fill: $color-default-black;
  }

  @include hover-focus {
    opacity: 0.7;
    outline: none;
  }
}

.contacts__link--phone {
  svg {
    stroke: $color-default-black;
  }
}

.contacts__list .contacts__link:active {
  opacity: 1;
}
