.about.wrapper {
  display: flex;
  flex-direction: row;
  user-select: none;
}

.header__list {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 48px 32px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  height: 100%;
  border-left: 1px solid $color-dark-gray;
}

.header__item {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 128px;
}

.header__link {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;

  &--contacts {
    text-align: left;
  }

  &--projects {
    text-align: right;
  }

  @include hover {
    opacity: 0.8;
    transition: $trans-default;
  }

  &:focus {
    opacity: 0.8;
    transition: $trans-default;
    outline: none;
  }
}

.header__item .header__link:active {
  opacity: 0.5;
  transition: $trans-default;
}
