.work {
  width: calc(100vw - 85px);
  overflow: hidden;

  @include vp-1229 {
    width: 100%;
  }
}

.swiper-container {
  overflow: hidden;
}

.swiper-wrapper {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.swiper-slide {
  width: 340px;
  height: 425px;
  border: 1px dashed $color-dark-gray;
  outline: none;

  @include vp-1229 {
    width: 391px;
    height: 508px;
  }

  @include vp-767 {
    width: 340px;
    height: 425px;
  }
}

.swiper-slide:nth-child(2n) {
  height: 337px;

  @include vp-1229 {
    height: 440px;
  }

  @include vp-767 {
    height: 337px;
  }
}
